.container
  .form-group
    label.col-sm-3.control-label(for='rue') Emplacement

    .col-sm-8
      .col-sm-6
        .form-group
          input.form-control(
          type='text'
          id="rue"
          name="rue"
          geocomplete
          map-id="roundMap"
          placeholder="Quel emplacement"
          )

      .col-sm-6.map-canvas-container
        #roundMap.pull-right
        
  .span {{round}}
        
