section.container#panier
    h1.text-center.color-row-title Commandez votre panier BIO Marchambul
    h4.text-center 3-4kg de légumes de saisons fraichements cueillis + un pain bio de la <a target="_blank" href="http://www.boulangerieducoin.fr/"> boulangerie du coin</a>
    h4.text-center le tout livré à vélo pour <span class="highlight-price">15€<span>
    
    
    .panier-container
        form.contact-option(action="//formspree.io/panier@marchambul.com" method="POST" ng-submit="checkPanier($event, address, position, phone, jour)")
            .row
                .col-sm-6
                    .form-group
                        label.control-label(for='address') Mon adresse
                        input.form-control(
                            type='text'
                            id="rue"
                            name="address"
                            geocomplete
                            map-id="roundMap"
                            placeholder="Où souhaitez vous vous faire livrer"
                        )
                        span.errorAddress(ng-if="errorAddress") Il vous faut une adresse valide
                     
                .col-sm-6.map-canvas-container
                    #roundMap.pull-right
            .form-group
                label Mon numéro
                input.form-control(
                    name="phone"
                    ng-model="phone"
                    placeholder="Nous vous appelerons lorsque nous arrivons devant chez vous")
                span.errorEmail(ng-if="errorPhone") Le format du numéro de téléphone est incorrect
            .form-group
                label Je souhaite être livré le :
                input(type="hidden" name="jour" value="{{jour}}")
                .livraison-options
                    .col-sm-6.panel.panel-default(ng-class="{'panel-selected':jour=='Mercredi'}", ng-click="jour='Mercredi'")
                        .panel-body Mercredi soir entre 19h et 20h
                    .col-sm-6.panel.panel-default(ng-class="{'panel-selected':jour=='Samedi'}", ng-click="jour='Samedi'")
                        .panel-body Samedi après-midi entre 15het 16h
                span.errorDay(ng-if="errorDay") Il vous faut choisir un jour de livraison
            button.footer-btn(
                type="submit"
                ng-click="sendMessage(email, message)"
                ) Envoyer
