section#panier
    .container
        h1.text-center.color-row-title Commandez votre panier BIO Marchambul
        h4.text-center Il n'y a aucun engagement, vous commandez quand vous voulez pour le Mercredi ou Samedi suivant
        img.panier(src='img/paniers/panier.svg')  
        h4.text-center Un panier contient de 3 à 4kg de légumes bio et de saison fraîchement cueillis <a target="_blank" href="http://lesvilainsbruz.blogspot.fr/p/le-clos-renaud-venez-rencontrer-vos.html">au Clos Renaud</a> + un pain bio de la <a target="_blank" href="http://www.boulangerieducoin.fr/"> boulangerie du coin</a>
        
        h4.text-center
            img.marchambul-logo(src='img/icon.svg') 
            | le tout livré à vélo <span class="highlight-price">chez vous</span> (sur Rennes uniquement) pour <span class="highlight-price">20€</span> (paiement en espèces/chèque à la réception)
            
        
        .hr-container
            hr
            label Légumes du moment
            
        .panel.panel-info.info-contenu-panier
            .row
                .col-sm-6
                    p 
                        i.fa.fa-info-circle.fa-lg(aria-hidden="true")
                        span Cette semaine, le panier a de fortes chances de contenir entre autre : 
                        ul
                            li une grosse salade batavia
                            li des pommes de terre nouvelles
                            li des carottes nouvelles
                            li des radis
                            li des concombres noha
                            li du persil
                            li etc...
                            
                .col-sm-6
                    img.ex-panier(src='img/paniers/ex-panier.jpg') 
                    p exemple de panier livré cette semaine
               
        
        .hr-container
            hr
            label Je commande 1 panier à 20€
        
        
        .panier-container
            form.contact-option(action="//formspree.io/panier@marchambul.com" method="POST" ng-submit="checkPanier($event, address, position, phone, jour, date)")
                .row
                    .col-sm-6
                        .form-group
                            label.control-label(for='address') Mon adresse
                            input.form-control(
                                type='text'
                                id="rue"
                                name="address"
                                geocomplete
                                map-id="roundMap"
                                placeholder="Où souhaitez vous vous faire livrer"
                            )
                            span.errorAddress(ng-if="errorAddress") Il vous faut une adresse valide
                         
                    .col-sm-6.map-canvas-container
                        #roundMap.pull-right
                .form-group
                    label Mon numéro
                    input.form-control(
                        name="phone"
                        ng-model="phone"
                        placeholder="Nous vous appelerons lorsque nous arrivons devant chez vous")
                    span.errorEmail(ng-if="errorPhone") Le format du numéro de téléphone est incorrect
                .form-group
                    label Je souhaite être livré le
                    input(type="hidden" name="jour" value="{{jour}}")
                    input(type="hidden" name="date" value="{{date}}")
                    .livraison-options(calculate-next-date)
                        .col-sm-6.panel.panel-default(ng-class="{'panel-selected':jour=='Mercredi'}", ng-click="jour='Mercredi';date=nextWedString")
                            .panel-body Mercredi {{nextWedString}} entre 19h et 20h
                        .col-sm-6.panel.panel-default(ng-class="{'panel-selected':jour=='Samedi'}", ng-click="jour='Samedi';date=nextSatString")
                            .panel-body Samedi {{nextSatString}} entre 14h et 15h
                    span.errorDay(ng-if="errorDay") Il vous faut choisir un jour de livraison
                button.footer-btn(
                    type="submit"
                    ) Envoyer
                    
        .hr-container
            hr
            label Une question à propos des paniers ?
            
            h3.text-center Envoyez nous un email à <span class="highlight-price">panier@marchambul.com</span> 
        br
        br
