section#panier
    .container
        h1.text-center.color-row-title Commandez votre panier "Potager roulant" 
        h4.text-center Il n'y a aucun engagement, il suffit de commander au minimum 2 jours en avance
        img.panier(src='img/paniers/panier.svg')
        h4.text-center Un panier contient entre 3kg et 4kg de légumes et fruits de saison fraîchement cueillis à Torfou.
        h4.text-center
            img.marchambul-logo(src='img/icon.svg') 
            | le tout livré à vélo <span class="highlight-price">chez vous</span> (Arpajon, Saint-Germain-Les-Arpajon et Brétigny-sur-Orge uniquement) pour <span class="highlight-price">17€</span> (paiement en espèces/chèque à la réception).
        h4.text-center Il y a également possibilité d'ajouter 6 oeufs pour 2,5 € supplémentaire
            
        
        .hr-container
            hr
            label Légumes du moment
            
        .panel.panel-info.info-contenu-panier
            .row
                .col-sm-6
                    p 
                        i.fa.fa-info-circle.fa-lg(aria-hidden="true")
                        span En ce moment, le panier contient entre autres : 
                        ul
                            li une salade 
                            li des courgettes
                            li des tomates
                            li des pommes de terre nouvelles
                            li des fraises
                            li et autres nouveautés fraîchement recoltés...
                            
                .col-sm-6
                    img.ex-panier(src='img/paniers/ex-panier.jpg') 
                    p exemple de panier livré en ce moment
               
        
        .hr-container
            hr
            label Je commande
            
        .panel.panel-info.info-contenu-panier
            i.fa.fa-info-circle.fa-lg(aria-hidden="true")
            span Pour l'instant nous ne livrons nos paniers que sur les communes de Bretigny, Arpajon et Saint-Germain-lès-Arpajon.
            
            
            
        
        
        .panier-container
            form.contact-option(action="//formspree.io/lepotagerroulant@gmail.com" method="POST" ng-submit="checkPanier($event, address, position, phone, creneau, date, ville)")
                .form-group(ng-init="vm.nombrePaniers='1';vm.oeufs='0';")
                    label Je souhaite&nbsp;&nbsp;
                    select.form-control.inherit-width(name="paniers" id="paniers" ng-model="vm.nombrePaniers" )
                      option(value="1") 1 panier
                      option(value="2") 2 paniers
                      option(value="3") 3 paniers
                    label &nbsp; 
                    select.form-control.inherit-width(name="oeufs" id="oeufs" ng-model="vm.oeufs" )
                        option(value="0") sans oeufs
                        option(value="1") avec 6 oeufs
                        option(value="2") avec 12 oeufs
                        option(value="3") avec 18 oeufs
                    label &nbsp;&nbsp;pour&nbsp;&nbsp;
                    label.highlight-price {{vm.nombrePaniers * 17 + vm.oeufs * 2.5 }} €
                .form-group
                    label J'habite à
                    .livraison-options
                        .col-sm-4.panel.panel-default(ng-class="{'panel-selected':ville=='Bretigny'}", ng-click="ville='Bretigny';creneau=null;")
                            .panel-body Bretigny-Sur-orge
                        .col-sm-4.panel.panel-default(ng-class="{'panel-selected':ville=='Arpajon'}", ng-click="ville='Arpajon';creneau=null;")
                            .panel-body Arpajon
                        .col-sm-4.panel.panel-default(ng-class="{'panel-selected':ville=='SGA'}", ng-click="ville='SGA';creneau=null;")
                            .panel-body Saint-Germain-lès-Arpajon
                    span.errorAddress(ng-if="errorVille") Il vous faut choisir une ville de livraison
                .row
                    .col-sm-6
                        .form-group
                            label.control-label(for='address') Mon adresse
                            input.form-control(
                                type='text'
                                id="rue"
                                name="address"
                                geocomplete
                                map-id="roundMap"
                                placeholder="Où souhaitez vous vous faire livrer"
                            )
                            span.errorAddress(ng-if="errorAddress") Il vous faut une adresse valide
                         
                    .col-sm-6.map-canvas-container
                        #roundMap.pull-right
                .form-group
                    label Mon numéro de téléphone
                    input.form-control(
                        name="phone"
                        ng-model="phone"
                        placeholder="Nous vous appelerons lorsque nous arrivons devant chez vous")
                    span.errorEmail(ng-if="errorPhone") Le format du numéro de téléphone est incorrect
                .form-group(ng-show="ville")
                    label Je souhaite être livré le
                    input(type="hidden" name="creneau" value="{{creneau}}")
                    input(type="hidden" name="date" value="{{date}}")
                    input(type="hidden" name="ville" value="{{ville}}")
                    .livraison-options(calculate-next-date)
                        div(ng-show="ville == 'Bretigny'")
                            .col-sm-3.panel.panel-default(ng-class="{'panel-selected':creneau=='Mardi 11h-12h'}", ng-click="creneau='Mardi 11h-12h';date=nextTueString")
                                .panel-body mardi {{nextTueString}} entre 11h et 12h
                            .col-sm-3.panel.panel-default(ng-class="{'panel-selected':creneau=='Mardi 14h-16h'}", ng-click="creneau='Mardi 14h-16h';date=nextTueString")
                                .panel-body mardi {{nextTueString}} entre 14h et 16h
                            .col-sm-3.panel.panel-default(ng-class="{'panel-selected':creneau=='Mercredi 14h-15h'}", ng-click="creneau='Mercredi 14h-15h';date=nextWedString")
                                .panel-body Mercredi {{nextWedString}} entre 14h et 15h
                            .col-sm-3.panel.panel-default(ng-class="{'panel-selected':creneau=='Vendredi 12h-14h'}", ng-click="creneau='Vendredi 12h-14h';date=nextFriString")
                                .panel-body Vendredi {{nextFriString}} entre 12h et 14h
                                
                                
                        div(ng-show="ville == 'Arpajon'")
                            .col-sm-6.panel.panel-default(ng-class="{'panel-selected':creneau=='Mercredi 15h-17h'}", ng-click="creneau='Mercredi 15h-17h';date=nextWedString")
                                .panel-body Mercredi {{nextWedString}} entre 15h et 17h
                            .col-sm-6.panel.panel-default(ng-class="{'panel-selected':creneau=='Vendredi 14h-16h'}", ng-click="creneau='Vendredi 14h-16h';date=nextFriString")
                                .panel-body Vendredi {{nextFriString}} entre 14h et 16h
                                
                        div(ng-show="ville == 'SGA'")
                            .col-sm-6.panel.panel-default(ng-class="{'panel-selected':creneau=='Mercredi 17h-18h'}", ng-click="creneau='Mercredi 17h-18h';date=nextWedString")
                                .panel-body Mercredi {{nextWedString}} entre 17h et 18h
                            .col-sm-6.panel.panel-default(ng-class="{'panel-selected':creneau=='Vendredi 10h-12h'}", ng-click="creneau='Vendredi 10h-12h';date=nextFriString")
                                .panel-body Vendredi {{nextFriString}} entre 10h et 12h
                                
                        
                    span.errorDay(ng-if="errorDay") Il vous faut choisir un créneau de livraison
                button.footer-btn(
                    type="submit"
                    ) Envoyer
                    
        .hr-container
            hr
            label Une question à propos des paniers ?
            
            h3.text-center Envoyez un email à <span class="highlight-price">lepotagerroulant@gmail.com</span> 
        br
        br
